vsphere_user = ""
vsphere_password = ""
vsphere_server = ""
vm-name = ""
vm-template-name = ""
vsphere-template-dir = ""
vsphere-datacenter = ""
vm-domain = ""
vm-MasterNode-count = 0
vm-WorkerNode-count = 0
