vsphere_user = ""
vsphere_password = ""
vsphere_server = ""
vm-name = ""
vm-template-name = ""
vsphere-template-dir = ""
vsphere-datacenter = ""
vsphere-datastore = ""
vm-domain = "voek.com"
vm-MasterNode-count = 3
vm-WorkerNode-count = 2
vm-Ingress-count = 1
vm-MasterNode-CPUs = 2
vm-WorkerNode-CPUs = 4
vm-Ingress-CPUs = 1
vm-MasterNode-RAM = 4096
vm-WorkerNode-RAM = 8192
vm-Ingress-RAM = 2048
vm-MasterNode-ROM = 10
vm-WorkerNode-ROM = 10
vm-Ingress-ROM = 10
